---
import { firestore } from "@lib/firebase/server";
import { getUser } from "@lib/utils";
import type { BirthdayType } from "@lib/types";
import Layout from "@layouts/Layout.astro";
import BirthdayForm from "@components/BirthdayForm";
import AppLayout from "@layouts/AppLayout.astro";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/signin");
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect("/signin");
}

/* Get user data */
const birthdayId = Astro.params.id;

if (!birthdayId) {
  return Astro.redirect("/dashboard");
}

/* get document data with documentId */
const birthdayInfoRef = await firestore
  .collection("birthdays")
  .doc(birthdayId)
  .get();

const birthdayData = birthdayInfoRef.data() as BirthdayType | undefined;

if (!birthdayData) {
  return Astro.redirect("/404");
}

if (birthdayData.authorId !== user.uid) {
  return Astro.redirect("/dashboard");
}

const BirthdayInfo = Object.assign(birthdayData, {
  documentId: birthdayInfoRef.id,
});
---

<Layout title="edit">
  <AppLayout>
    <main class="w-full h-full flex flex-col items-center justify-center p-4">
      <section class="w-full max-w-md">
        <a
          href="/dashboard/"
          class="flex text-zinc-500 gap-1 items-center mb-4 text-sm hover:text-zinc-600 dark:hover:text-zinc-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
          </svg>
          Back to dashboard
        </a>
        <h1
          class="font-semibold sm:text-2xl text-xl dark:text-zinc-100 text-zinc-900 w-full mb-4"
        >
          Edit Birthday
        </h1>
        <BirthdayForm client:load birthdayInfo={BirthdayInfo} type="edit" />
      </section>
    </main>
  </AppLayout>
</Layout>
