---
import { firestore } from "@lib/firebase/server";
import { getUser } from "@lib/utils";
import type { BirthdayTypeWithId } from "@lib/types";
import Layout from "@layouts/Layout.astro";
import BirthdayForm from "@components/BirthdayForm";
import AppLayout from "@layouts/AppLayout.astro";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/signin");
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect("/signin");
}

/* Get user data */
const birthdayId = Astro.params.id;

if (!birthdayId) {
  return Astro.redirect("/dashboard");
}

/* get document data with documentId */
const birthdayInfoRef = await firestore
  .collection("birthdays")
  .doc(birthdayId)
  .get();

const birthdayInfo = birthdayInfoRef.data() as BirthdayTypeWithId;
---

<Layout title="edit">
  <AppLayout>
  <main class="w-full h-full flex flex-col items-center justify-center p-4">
    <section class="w-full max-w-md">
      <h1 class="font-semibold text-2xl text-white w-full mb-8">
        Edit Birthday
      </h1>
      <BirthdayForm
        client:load
        birthdayInfo={birthdayInfo}
        type="edit"
        documentId={birthdayId}
      />
    </section>
  </main>
</AppLayout>
</Layout>
