---
import { getUser } from "@lib/utils";
import Layout from "@layouts/Layout.astro";
import BirthdayForm from "@components/BirthdayForm";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/signin");
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="Sign in">
  <main class="w-full h-full flex flex-col items-center justify-center p-4">
    <section class="w-full max-w-md">
      <h1 class="font-semibold text-2xl text-white w-full mb-8">
        Add a new user
      </h1>
      <BirthdayForm client:load />
    </section>
  </main>
</Layout>
