---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <p class="text-3xl text-zinc-300 font-semibold">We are in the dashboard</p>
  </main>
</Layout>
