---
import Layout from "../layouts/Layout.astro";
import firebaseServer from "../lib/firebase/server";
import LogoutButton from "../components/SignoutButton";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session").value;
if (!sessionCookie) {
  return Astro.redirect("/login");
}

/* Verify session cookie and get user */
let user;
try {
  const decodedClaims = await firebaseServer
    .auth()
    .verifySessionCookie(sessionCookie, true);
  user = await firebaseServer.auth().getUser(decodedClaims.uid);
} catch (error) {
  return Astro.redirect("/login");
}
---

<Layout title="Dashboard">
  <main class="w-full h-full flex flex-col items-center justify-center gap-2">
    <p class="text-3xl text-zinc-300 font-semibold">We are in the dashboard</p>
    <p class="text-lg text-zinc-300">
      Great to have you here, {user.displayName}
    </p>
    <LogoutButton client:idle />
  </main>
</Layout>
