---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <p class="text-3xl text-zinc-300 font-semibold">Welcome to Astro!</p>
    <div class="flex gap-4 mt-4">
      <a
        href="/login"
        class="bg-indigo-400 font-medium hover:bg-indigo-400 px-4 py-1 rounded-md"
        >Login</a
      >
      <a
        href="/signup"
        class="bg-indigo-400 font-medium hover:bg-indigo-400 px-4 py-1 rounded-md"
        >Register</a
      >
    </div>
  </main>
</Layout>
