---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <p class="text-3xl text-zinc-300 font-semibold">Welcome to Astro!</p>
  </main>
</Layout>
