---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <p class="text-3xl text-zinc-300 font-semibold">Welcome to Astro!</p>
    <a
      href="/login"
      class="bg-indigo-400 font-medium hover:bg-indigo-400 px-4 py-1 rounded-md mt-4"
      >Login</a
    >
  </main>
</Layout>
