---
import SignoutButton from "@components/SignoutButton";
---
<nav class="dark:bg-zinc-950 bg-zinc-50 border-b dark:border-zinc-800">
  <div class="p-4 flex justify-between items-center max-w-4xl mx-auto">
    <span class="text-lg font-semibold text-zinc-900 dark:text-zinc-100">Birthday Tracker</span>
    <SignoutButton client:idle />
  </div>
</nav>
<slot />